<header>
  <mat-toolbar color="primary">
    <div class="logo">Our shopApp</div>
    <div class="nav">
        <a
           mat-button matTooltip="Info about"
           [routerLink]="['/one']">One</a>
        <a
           mat-button matTooltip="Info about"
           [routerLink]="['/two']">two</a>
        <a
          mat-button matTooltip="three"
          [routerLink]="['/three']"
        >Three</a>


        <!--[matMenuTriggerFor]="menu"-->
        <!--<mat-menu #menu="matMenu">-->
          <!--<button mat-menu-item>logIn</button>-->
          <!--<button mat-menu-item>logOut</button>-->
        <!--</mat-menu>-->
        <!--<a-->
           <!--mat-button matTooltip="Info about"-->
           <!--[routerLink]="['/basket']"-->
        <!--&gt;Basket</a>-->

    </div>
    <div>
      <a class="basker_user"
         mat-button matTooltip="Info about basket"
         [routerLink]="['/basket']">{{ " basket"}}</a>
      <a class="basker_user"
         mat-button matTooltip="Info about user"
         [routerLink]="['/user']">{{'user'}}</a>
    </div>
    <div>
      <a class="log"
         mat-button matTooltip="Registration or Enter"
         [routerLink]="['/login']"
      >Log</a>
    </div>
  </mat-toolbar>







    <!--<mat-sidenav-container>-->
      <!--<mat-sidenav>Start</mat-sidenav>-->
      <!--<mat-sidenav position="end">End</mat-sidenav>-->
      <!--<section>-->
        <!--<a href="# "-->
           <!--mat-button matTooltip="Info about"-->
        <!--&gt;xcvxcvxc</a>-->
        <!--<a href="# " mat-button matTooltip="Info about">xcvxcvxc</a>-->
        <!--<a href="# " mat-button matTooltip="Info about">xcvxcvxc</a>-->
        <!--<a href="# " mat-button matTooltip="Info about">LogIn</a>-->
        <!--<a href="# " mat-button matTooltip="Info about">Basket</a>-->
      <!--</section>-->
    <!--</mat-sidenav-container>-->


    <!--<mat-button-toggle-group>-->
      <!--<mat-button-toggle>товари</mat-button-toggle>-->
      <!--<mat-button-toggle>товари</mat-button-toggle>-->
      <!--<mat-button-toggle>товари</mat-button-toggle>-->
    <!--</mat-button-toggle-group>-->
    <!--<mat-menu #appMenu="matMenu">-->
      <!--<button >Settings</button>-->
      <!--<button >Help</button>-->
    <!--</mat-menu>-->
<!---->


</header>
