
button {
  outline: none;
}

header {

  width: 100%;
}
mat-sidenav-container {
  background-color: #707489;
}

mat-toolbar {
  position: fixed;
  height: 0;
  padding: 20px 0;
  z-index: 1000;
  justify-content: space-between;
  background-color: #707489;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 4px rgba(0,0,0,0.22);

}
.mat-button {
  line-height: 0;

}



.span_menu {
  font-size: 10px;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.mat-menu-panel{
  display: flex;
  flex-direction: column;
  overflow:  hidden;
  background-color: #000;
}




a{
  text-decoration: none;
  transition: 0.9s;
  color: #000;
  font-size: 12px;
}


.nav_button:hover {
  color: #fff;
  transition: 0.9s;
}


a:hover {
  color: #ffffff;
  text-decoration: none;
}

.nav a {
  margin-right: 20px;
}

.logo {
  margin-left: 15px;
  color: #fff;

}
.navbar {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.basket_user {
}


.basket {
  width: 23px;
  height: 24px;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
  transition: 0.5s ;
  margin-top: 3px;

}
.basket:hover {
  transition: 0.5s ;
  transform: scale(1.4);
}


.id {
  width: 23px;
  height: 27px;
  cursor: pointer;
  outline: none;
  transition: 0.5s ;
  margin-top: 3px;
}

.id:hover {
  transition: 0.5s ;
  transform: scale(1.4);
}


.mat-menu-item-submenu-trigger::after  {
  display: none;
}
.mat-menu-item {
  padding: 0 0 0 10px;
  height: 36px;

}


.cdk-overlay-connected-position-bounding-box {
  top: 40px;
}

.logo_menu{


  opacity: 1;
  transition: 1s;
  cursor: pointer;


}

.logo_menu:hover {
  opacity: 0.6;
  transition: 1s;
  transform: scale(1.4);
  color: #f66e6eb5;


}
