
<footer>
  <div class="aboutAs">
    <ul>
      <li><a href="https://career.softserveinc.com">SoftServe</a></li>
      <li>за підтримки:</li>
      <li><a href="#"></a>Юрія та Миколи</li>

    </ul>

  </div>
  <div class="contacts">
    <ul>
      <li><a href="https://career.softserveinc.com">SoftServe</a></li>
      <li>tel: <a href="tel:+38 000 1234567"> 000 1234567</a></li>
      <li>mail: <a href="mailto:hr@softserveinc.com"> hr@softserveinc.com</a></li>
    </ul>

  </div>
  <div class="rights">
    <ul>
      <li><a href="#">All rights reserved &copy;{{year}}</a></li>
    </ul>

  </div>
</footer>
