<div class="contents">
  <div class="ecom-ui ecom-ui-six">
    <!-- Hot tag -->
    <span class="ecom-hot bg-lblue">New</span>
    <div class="img-container">
      <!-- Product Image -->
      <a href="#"><img class="img-responsive" src="../../../assets/img/samsung11.jpg" alt=""></a>
    </div>
    <!-- product details -->
    <div class="product-details">
      <!-- product title -->
      <h4><a href="#">Baby Doll - Toys</a> <span class="pull-right lblue">$14.99</span></h4>
      <div class="clearfix"></div>
      <p>The standard chunk of morel sate gypsum used since 1984.</p>
    </div>
    <!-- add to cart button -->
    <div class="ecom">
      <a class="bg-lblue" href="#">Add to Cart</a>
    </div>
  </div>

  <div class="ecom-ui ecom-ui-six">
    <!-- Hot tag -->
    <span class="ecom-hot bg-lblue">New</span>
    <div class="img-container">
      <!-- Product Image -->
      <a href="#"><img class="img-responsive" src="../../../assets/img/samsung11.jpg" alt=""></a>
    </div>
    <!-- product details -->
    <div class="product-details">
      <!-- product title -->
      <h4><a href="#">Baby Doll - Toys</a> <span class="pull-right lblue">$14.99</span></h4>
      <div class="clearfix"></div>
      <p>The standard chunk of morel sate gypsum used since 1984.</p>
    </div>
    <!-- add to cart button -->
    <div class="ecom">
      <a class="bg-lblue" href="#">Add to Cart</a>
    </div>
  </div>

  <div class="ecom-ui ecom-ui-six">
    <!-- Hot tag -->
    <span class="ecom-hot bg-lblue">New</span>
    <div class="img-container">
      <!-- Product Image -->
      <a href="#"><img class="img-responsive" src="../../../assets/img/samsung11.jpg" alt=""></a>
    </div>
    <!-- product details -->
    <div class="product-details">
      <!-- product title -->
      <h4><a href="#">Baby Doll - Toys</a> <span class="pull-right lblue">$14.99</span></h4>
      <div class="clearfix"></div>
      <p>The standard chunk of morel sate gypsum used since 1984.</p>
    </div>
    <!-- add to cart button -->
    <div class="ecom">
      <a class="bg-lblue" href="#">Add to Cart</a>
    </div>
  </div>
  <div class="ecom-ui ecom-ui-six">
    <!-- Hot tag -->
    <span class="ecom-hot bg-lblue">New</span>
    <div class="img-container">
      <!-- Product Image -->
      <a href="#"><img class="img-responsive" src="../../../assets/img/samsung11.jpg" alt=""></a>
    </div>
    <!-- product details -->
    <div class="product-details">
      <!-- product title -->
      <h4><a href="#">Baby Doll - Toys</a> <span class="pull-right lblue">$14.99</span></h4>
      <div class="clearfix"></div>
      <p>The standard chunk of morel sate gypsum used since 1984.</p>
    </div>
    <!-- add to cart button -->
    <div class="ecom">
      <a class="bg-lblue" href="#">Add to Cart</a>
    </div>
  </div>
  <div class="ecom-ui ecom-ui-six">
    <!-- Hot tag -->
    <span class="ecom-hot bg-lblue">New</span>
    <div class="img-container">
      <!-- Product Image -->
      <a href="#"><img class="img-responsive" src="../../../assets/img/samsung11.jpg"alt=""></a>
    </div>
    <!-- product details -->
    <div class="product-details">
      <!-- product title -->
      <h4><a href="#">Baby Doll - Toys</a> <span class="pull-right lblue">$14.99</span></h4>
      <div class="clearfix"></div>
      <p>The standard chunk of morel sate gypsum used since 1984.</p>
    </div>
    <!-- add to cart button -->
    <div class="ecom">
      <a class="bg-lblue" href="#">Add to Cart</a>
    </div>
  </div>
  <div class="ecom-ui ecom-ui-six">
    <!-- Hot tag -->
    <span class="ecom-hot bg-lblue">New</span>
    <div class="img-container">
      <!-- Product Image -->
      <a href="#"><img class="img-responsive" src="../../../assets/img/samsung11.jpg" alt=""></a>
    </div>
    <!-- product details -->
    <div class="product-details">
      <!-- product title -->
      <h4><a href="#">Baby Doll - Toys</a> <span class="pull-right lblue">$14.99</span></h4>
      <div class="clearfix"></div>
      <p>The standard chunk of morel sate gypsum used since 1984.</p>
    </div>
    <!-- add to cart button -->
    <div class="ecom">
      <a class="bg-lblue" href="#">Add to Cart</a>
    </div>
  </div>
  <div class="ecom-ui ecom-ui-six">
    <!-- Hot tag -->
    <span class="ecom-hot bg-lblue">New</span>
    <div class="img-container">
      <!-- Product Image -->
      <a href="#"><img class="img-responsive" src="../../../assets/img/samsung11.jpg" alt=""></a>
    </div>
    <!-- product details -->
    <div class="product-details">
      <!-- product title -->
      <h4><a href="#">Baby Doll - Toys</a> <span class="pull-right lblue">$14.99</span></h4>
      <div class="clearfix"></div>
      <p>The standard chunk of morel sate gypsum used since 1984.</p>
    </div>
    <!-- add to cart button -->
    <div class="ecom">
      <a class="bg-lblue" href="#">Add to Cart</a>
    </div>
  </div>
  <div class="ecom-ui ecom-ui-six">
    <!-- Hot tag -->
    <span class="ecom-hot bg-lblue">New</span>
    <div class="img-container">
      <!-- Product Image -->
      <a href="#"><img class="img-responsive" src="../../../assets/img/samsung11.jpg" alt=""></a>
    </div>
    <!-- product details -->
    <div class="product-details">
      <!-- product title -->
      <h4><a href="#">Baby Doll - Toys</a> <span class="pull-right lblue">$14.99</span></h4>
      <div class="clearfix"></div>
      <p>The standard chunk of morel sate gypsum used since 1984.</p>
    </div>
    <!-- add to cart button -->
    <div class="ecom">
      <a class="bg-lblue" href="#">Add to Cart</a>
    </div>
  </div>
  <div class="ecom-ui ecom-ui-six">
    <!-- Hot tag -->
    <span class="ecom-hot bg-lblue">New</span>
    <div class="img-container">
      <!-- Product Image -->
      <a href="#"><img class="img-responsive" src="../../../assets/img/samsung11.jpg" alt=""></a>
    </div>
    <!-- product details -->
    <div class="product-details">
      <!-- product title -->
      <h4><a href="#">Baby Doll - Toys</a> <span class="pull-right lblue">$14.99</span></h4>
      <div class="clearfix"></div>
      <p>The standard chunk of morel sate gypsum used since 1984.</p>
    </div>
    <!-- add to cart button -->
    <div class="ecom">
      <a class="bg-lblue" href="#">Add to Cart</a>
    </div>
  </div>




</div>

