<app-login></app-login>
<div class="form">
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>name</mat-label>
      <input matInput placeholder="name"
             [(ngModel)]="user.username"
             name="name"
             required

      >
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Enter your password"
             [type]="hide ? 'password' : 'text'"
             [(ngModel)]="user.password"
             name="password"

             required
      >
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>


    </mat-form-field>
  </p>

  <p>
    <button mat-button

            (click)="signIn()">Enter</button>
  </p>


</div>
