
<div class="container">
  <div class="total">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae commodi consectetur earum eos expedita fugiat iusto magni, maiores non odio pariatur quidem ratione recusandae repellat, repudiandae sint, soluta totam unde voluptatum? Aut, blanditiis dicta excepturi perspiciatis repellat soluta vel vitae voluptatibus. Animi aperiam asperiores blanditiis ex explicabo, modi quia sed temporibus! Distinctio est ipsa numquam! Eligendi laudantium molestiae praesentium.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae commodi consectetur earum eos expedita fugiat iusto magni, maiores non odio pariatur quidem ratione recusandae repellat, repudiandae sint, soluta totam unde voluptatum? Aut, blanditiis dicta excepturi perspiciatis repellat soluta vel vitae voluptatibus. Animi aperiam asperiores blanditiis ex explicabo, modi quia sed temporibus! Distinctio est ipsa numquam! Eligendi laudantium molestiae praesentium.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae commodi consectetur earum eos expedita fugiat iusto magni, maiores non odio pariatur quidem ratione recusandae repellat, repudiandae sint, soluta totam unde voluptatum? Aut, blanditiis dicta excepturi perspiciatis repellat soluta vel vitae voluptatibus. Animi aperiam asperiores blanditiis ex explicabo, modi quia sed temporibus! Distinctio est ipsa numquam! Eligendi laudantium molestiae praesentium.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae commodi consectetur earum eos expedita fugiat iusto magni, maiores non odio pariatur quidem ratione recusandae repellat, repudiandae sint, soluta totam unde voluptatum? Aut, blanditiis dicta excepturi perspiciatis repellat soluta vel vitae voluptatibus. Animi aperiam asperiores blanditiis ex explicabo, modi quia sed temporibus! Distinctio est ipsa numquam! Eligendi laudantium molestiae praesentium.</p>
  </div>
</div>




