.example-card {
  min-width: 400px;
  margin-bottom: 25px;
  overflow: hidden;



}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


span {
  margin-left: 5px;

}


mat-card {
  margin-top: 25px;
  padding: 50px 15px 50px 30px ;
  overflow: hidden;
}


.coment {
  border: 1px solid #eee;
  margin: 15px;

}
.container {
  overflow: hidden;
}

mat-tab {

}



form, label, input, button {
  font-size: 11px;
  font-weight: 600;
}

.form-control {
  font-size: 10px;
}

.item_bottum {
  text-align: center;
}

.coments_text {
  margin: 3px 20px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  font-size: 10px;
}


.coment_name {
  font-size: 11px;
  color: #777;
  margin-left: 15px;
}

.options {

  margin: 15px;
}
.btn {
  margin-right: 10px;

  font-size: 8px;
}

.mat-raised-button {
  line-height: 3;
}



.user_room {
  position: relative;
  z-index: 100;
}


.hide_popap{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  position: fixed;
  z-index:99999;
  background-color: #eee;
  transition: 0.5s;

}

.item_message {
  width: 50%;
  height: 50px;
}
