<app-login></app-login>

<form [>
<div class="form">
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>First name</mat-label>
      <input matInput
             placeholder="First Name"
             [(ngModel)]="userModel.first_name"
             name="firstName"
             #firstName="ngModel"
             required

      >
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Last name</mat-label>
      <input matInput
             placeholder="Last Name"
             [(ngModel)]="userModel.last_name"
             name="lastName"

      >
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input
        matInput placeholder="Enter your email"

        [(ngModel)]="userModel.email"
        *ngIf="email.invalid"
        name="email"

      >
      <mat-error >{{getErrorMessage()}}</mat-error>

    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>name</mat-label>
      <input matInput placeholder="name"
             [(ngModel)]="userModel.username"
             name="name"


      >
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Enter your password"
             [type]="hide ? 'password' : 'text'"
             [(ngModel)]="userModel.password"
             name="password"


      >


    </mat-form-field>
  </p>

  <p>
    <button mat-button (click)="registerUser()">Register</button>
    <button mat-button (click)="clearUser()">Clear form</button>


</div>

</form>
