<div class="container">
  <div class="center">

    <div class="item" *ngIf="item">
    <div class="item_left">
      <h5 >{{item?.name}}</h5>
      <img class="shop_img"  src="../../../assets/Tom_the_Cat.jpg" alt="">
    </div>
      <div class="item_right">
        <p class="text">  <span class="span_text">{{item?.name}}</span></p>
        <p class="text">  <span class="span_text">{{item?.description}}</span></p>
        <p class="text"> $ <span class="span_text">{{item?.prise}}</span></p>
        <button class="to_basket" mat-button (click)="goToBasket(item)" >Add to basket</button>
      </div>
    </div>
    <div class="item_bottum">
    </div>

    <div class="coments">
      <div class="coment" *ngFor="let coments of coment">
        <span class="coment_name">Name : {{coments.user_name}}</span>

        <div class="coments_text" >
          {{coments.text}}
        </div>
      </div>
    </div>


    <div class="item_message" *ngIf="item">
          <div class="col-md-6">
            <form>
              <div class="form-group">
                <label for="message"></label>
                <textarea  class="form-control" name="message" rows="3" [(ngModel)]="com.text" placeholder=" Write coment"></textarea>

              </div>
              <button (click)="sendComentar()"  type="submit" class="btn btn-info">Send</button>
            </form>
          </div>
      </div>
    </div>


</div>
