<div class="contents">

  <div class="item_cards" *ngFor="let item of items"  >
    <div class="ecom-ui ecom-ui-six"
         *ngIf="items"


         (click)="toBasket(item)"

         (click)="goToShopItem(item)"
    >
      <span class="ecom-hot bg-lblue">New</span>
      <div class="img-container">
        <img class="img-responsive" src="../../../assets/Tom_the_Cat.jpg" alt="">
      </div>
      <div class="product-details">
        <h4><span class="span_title">Baby {{item.name}}</span> <span class="pull-right lblue">$ {{item.prise}}</span></h4>
        <p>The {{item.description}}.</p>
      </div>
      <div class="ecom">
        <a class="bg-lblue">Add to Cart</a>
      </div>
    </div>
  </div>













</div>
